/* page 1  */
#main{
    height: 650px;
    width: 1266px;
    position: relative;

}



#pg1{
    background-image: url("./p1.jpeg") ;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative; 
    
    
}


#bg1header{
    position: absolute;
    width: 800px;
    height:300px;
    left: 230px;
    top: 150px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#bg1h1{
    color: white;
    font-size: 1cm;
    font-weight: bolder;
}
#bg1h2{
    color: white;
    font-size: 0.5cm;
    font-weight: bolder;
    padding: 10px;
}
#bg1par{
    padding: 10px;
}
#bg1p1{
    color: white;
}
#form-box{
    position: absolute; 
    width: 600px;
    height: 40px;
    left: 350px;
    top: 400px;
}
#bankicon{
    background-image: url("./icon2.png");
    color: white;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    left: 765px;
    top:200px;
}
#b1{
    background-color: #4e4e4e; /* Green */
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#bg1sel1{
    padding: 3px 10px;
}
#inp1{
    padding: 1.8px 10px;
}
#b1{
    transition-duration: 0.4s;
} 
#b1:hover {
    background-color: #ebebeb; /* Green */
    color: rgb(80, 80, 80);
}
#bg1soc{
    position: absolute;
    left: 1000px;
    top: 550px;
}
.ic{
    padding: 10px;
}

/* page 2 */ 

#pg2{
    background-image: url("./imageedit_2_7174715077.jpg") ;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative; 
    
    
    
}


#box-amount{
    position: absolute;
    background-color: rgb(194, 196, 192);
    border: 3px solid black;
    box-shadow: 2px 1px #444444;
    width: 300px;
    height: 300px;
    left: 475px;
    z-index: 2;
    top:230px;

}

#Xicon{
    z-index: 4;
    position: absolute;
    left: 267px;
    top: 4px;
}

#yesicon{
    z-index: 4;
    position: absolute;
    top:255px;
    left:131px;
    color: black; 
    font-size: 35px;
}

#yesicon:hover{
    color: rgb(82, 81, 81); 
    font-size: 34px;
    
}

#categ{
    background-color: rgb(160, 158, 158);
    position: absolute;
    width: 293px ;
    height: 100px ;
    margin-top: 1px;
    border: 2px solid black;
}

#categh2{
    text-align: center;
    padding: 25px;
    color: rgb(20, 20, 20);
    font-family: 'Montserrat';
    font-weight: bold;

}

#box-input{
    background-color: rgb(160, 158, 158);
    position: absolute;
    width: 293px ;
    height: 50px ;
    top:100px;
    border: 2px solid black;
    padding-bottom: 5px;
}
#valueinput{
    padding: 9.1px 25px;
    border: 2px solid black;
    color: black;
}
#curr{
    height: 30px;
    width: 50px;
    text-align: center;
    font-weight: bolder;
    color: rgb(19, 19, 19);
    padding-top: 5px;
}
#box-date{
    background-color: rgb(83, 82, 82);
    position: absolute;
    width: 293px ;
    height: 50px ;
    top:150px;
    border: 2px solid black;
    padding-bottom: 5px;
}

#dateinput{
    padding: 9.4px 60px;
    border: 2px solid black;
    color: black;
}

#noteinput{
    padding: 9.2px 54px;
    border: 2px solid black;
    color: black;
    
    position: absolute;
}

#box-note{
    background-color: rgb(83, 82, 82);
    position: absolute;
    width: 293px ;
    height: 50px ;
    top:200px;
    border: 2px solid black;
    padding-bottom: 5px;
}







#box-amountInc{
    position: absolute;
    background-color: rgb(194, 196, 192);
    border: 3px solid black;
    box-shadow: 2px 1px #444444;
    width: 300px;
    height: 300px;
    left: 475px;
    z-index: 2;
    top:230px;

}

#XiconInc{
    z-index: 4;
    position: absolute;
    left: 267px;
    top: 4px;
}

#yesiconInc{
    z-index: 4;
    position: absolute;
    top:255px;
    left:131px;
    color: black; 
    font-size: 35px;
}

#yesiconInc:hover{
    color: rgb(82, 81, 81); 
    font-size: 34px;
    
}

#categInc{
    background-color: rgb(160, 158, 158);
    position: absolute;
    width: 293px ;
    height: 100px ;
    margin-top: 1px;
    border: 2px solid black;
}

#categh2Inc{
    text-align: center;
    padding: 25px;
    color: rgb(20, 20, 20);
    font-family: 'Montserrat';
    font-weight: bold;

}

#box-inputInc{
    background-color: rgb(160, 158, 158);
    position: absolute;
    width: 293px ;
    height: 50px ;
    top:100px;
    border: 2px solid black;
    padding-bottom: 5px;
}
#valueinputInc{
    padding: 9.1px 25px;
    border: 2px solid black;
    color: black;
}
#currInc{
    height: 30px;
    width: 50px;
    text-align: center;
    font-weight: bolder;
    color: rgb(19, 19, 19);
    padding-top: 5px;
}
#box-dateInc{
    background-color: rgb(83, 82, 82);
    position: absolute;
    width: 293px ;
    height: 50px ;
    top:150px;
    border: 2px solid black;
    padding-bottom: 5px;
}

#dateinputInc{
    padding: 9.4px 60px;
    border: 2px solid black;
    color: black;
}

#noteinputInc{
    padding: 9.2px 54px;
    border: 2px solid black;
    color: black;
    
    position: absolute;
}

#box-noteInc{
    background-color: rgb(83, 82, 82);
    position: absolute;
    width: 293px ;
    height: 50px ;
    top:200px;
    border: 2px solid black;
    padding-bottom: 5px;
}









#pg2header{

    position: absolute;
    
    height: 290px;
    width: 1266px;
}

#pg2D1{

    position: absolute;
    background-color: rgb(224, 222, 222);
    top: 290px;
    height: 360px;
    width: 1266px;
    border-top: 5px solid rgb(163, 163, 163);
}


#pg2income{
    position: absolute;
    border-right: 3px solid rgb(66, 65, 65);
    height: 360px;
    width: 630px;
    

}

#pg2expenses{
    position: absolute;
   
    height: 360px;
    width: 630px;
    left:630px;


}

.pg2h3inc-exp{
    
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    color: rgb(17, 17, 17);
    font-family: 'Montserrat' ;
    font-weight: bold;
    
}



#pg2inco{
    color: rgb(1, 165, 1);


}
#pg2inco:hover{
    color: rgb(65, 245, 65);
    
}



#incomeIconOrder{
    position: absolute;
    width: 480px;
    height: 180px;
    left: 75px;
    display: flex;
    gap: 20px;
    justify-content: center;
    
}


.income-icon{
    width: 100px;
    height:100px;
    padding: 30px;
    position: relative;
    color: black;
    cursor: pointer;
}

.income-icon:hover{
    color: rgb(64, 65, 65);
}



#l-buss{
    position: absolute;
    left: 17px;
}
#l-sal{
    position: absolute;
    left: 25px;
}

#l-heal{
    position: absolute;
    left: 23px;
}

#expensesIconOrder{
    position: absolute;
    width: 480px;
    height: 200px;
   
    left: 110px;
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px ;
    grid-template-rows: 75px 75px 75px 75px 75px;
    gap: 20px;
    
    

   
}

.expenses-icon{
    width: 100px;
    height:100px;
    padding: 30px;
   position: relative;
   color: black;
   cursor: pointer;
    
}

.expenses-icon:hover{
  color: rgb(99, 100, 100);
}


.iconText{
    position: absolute;
    left: 16px;
}





#pg2name{
    position: absolute;
    font-family: 'Montserrat';
    font-weight: bold;
    top: 50px;
    left: 30px;
    color: white;

}


.budget {
    position: absolute;
    width: 350px;
    top: 25px;
    left: 450px;
    height: 250px;
    color: #fff;
   
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 12px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float:right;
    margin-right: 10px;
}

.fa-bars{
    position: absolute;
    left: 13px;
    top: 250px;

}

#sidebar{
    background-color: rgb(116, 114, 114);
    width: 150px;
    height: 100px;
    border:2px solid rgb(70, 70, 70);
    display: flex ;
    flex-direction: column;
    z-index: 8 ;
    
}

#sideDiv{
   
    height: 300px;
    position: absolute;
    z-index: 8;
}

#sidebar1{
    background-color: rgb(56, 56, 56);
    width: 145px;
    height: 50px;
    border:2px solid rgb(104, 103, 103);
    margin: 0;
    text-align: center;
    color:white;
    padding: 10px;
    
}

#sidebar2{
    background-color:  rgb(56, 56, 56);
    width: 145px;
    height: 50px;
    border:2px solid rgb(116, 115, 115);
    text-align: center;
    color: white;
    padding: 10px;
}

#sidebar1:hover{
    background-color:  rgb(158, 157, 157);
    color: rgb(53, 53, 53);
}

#sidebar2:hover{
    background-color:  rgb(158, 157, 157);
    color: rgb(53, 53, 53);

}



/* page 3 */ 

#pg3{
    position: absolute;
    background-color: rgb(224, 222, 222);
    top: 290px;
    height: 360px;
    width: 1266px;
    border-top: 5px solid rgb(163, 163, 163);
    z-index: 7 ;
}


#pg3income{
    position: absolute;
    border-right: 7px solid rgb(255, 255, 255);
    height: 360px;
    width: 630px;
    

}

#pg3expenses{
    position: absolute;
   
    height: 360px;
    width: 630px;
    left:630px;


}

.pg3h3inc-exp{
    
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    color: rgb(17, 17, 17);
    font-family: 'Montserrat' ;
    font-weight: bold;
    
}

.pg3h3inc-exp:hover{
    color: rgb(112, 112, 112);
}


.listHeader{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pg3listdiv{
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background: rgb(134, 134, 134);
    text-align: center;
    color: black;
    font-weight: bolder;
    padding: 5px;

}

.listInform{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pg3listIn{
    width: 150px;
    height: 200px;
    border: 2px solid black;
    background: rgb(134, 134, 134);
}

ul{
    list-style-type:none;
    color: black;
    font-weight: bolder;
    margin: 0;
    padding: 5px;
   
}

.delbot{
    background-color: #c5ccc6; /* Green */
  border: none;
  color: rgb(3, 3, 3);
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
}

























