#bg1{
    background-image: url("./p1.jpeg") ;
   
    
    height: 650px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
    
    
}

#bg1header{
    position: absolute;
    width: 800px;
    height:300px;
    
    left: 230px;
    top: 130px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#bg1h1{
    color: white;
    font-size: 1cm;
    font-weight: bolder;

}

#bg1h2{
    color: white;
    font-size: 0.5cm;
    font-weight: bolder;
    padding: 10px;

}

#bg1par{
    padding: 10px;
}

#bg1p1{
    color: white;
}

#form-box{
    position: absolute;
    
    width: 600px;
    height: 40px;
    left: 350px;
    top: 420px;
}

#bankicon{
    background-image: url("./icon2.png");
    color: white;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    left: 765px;
    top:175px;
    

}

#b1{
    background-color: #4e4e4e; /* Green */
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#bg1sel1{
    padding: 3px 10px;

}
#inp1{
    padding: 1.8px 10px;

}

#b1{
    transition-duration: 0.4s;
}

  
#b1:hover {
    background-color: #ebebeb; /* Green */
    color: rgb(80, 80, 80);
}

#bg1soc{
    position: absolute;
    left: 1000px;
    top: 550px;
}

.ic{
    padding: 10px;
}









